FastDFS.Client.Demo/Service References/webEyeSatisfactionSurvey/Service32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SatisfactionSurvey.Entity" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SatisfactionSurvey.Entity" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="SurveyDataEntity">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClinicDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EmployeeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmployeeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemId" type="xs:int" />
      <xs:element minOccurs="0" name="Kind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mobile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PatientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SurveyDataEntity" nillable="true" type="tns:SurveyDataEntity" />
</xs:schema>