FastDFS.Client.Demo/Service References/webEyeSatisfactionSurvey/Service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://other2.eye.ac.cn:9106/SatisfactionSurvey/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SatisfactionSurvey.Entity" />
  <xs:element name="SendSatisfactionSurvey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SatisfactionSurvey.Entity" minOccurs="0" name="obj" nillable="true" type="q1:SurveyDataEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendSatisfactionSurveyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SendSatisfactionSurveyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>